form .button {
    margin-top: 8px;
}

.buttonPlaceholder {
    background: #f0f0f0;
    border-radius: 10px;
    min-width: 4vw;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    transition: .3s;
}

.buttonPlaceholder:hover {
    background: #d6d6d6;    
}
